html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
body{
  background-image: url("img/main\ Background\ a.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  position: fixed;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: #EFF1F3;
}
/* START NAVBAR */
#header-navbar{
  background-color: #272727;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  z-index: 5;
}
#header-navbar nav{
  position: fixed;
  right: 5%;
}
#header-navbar nav a{
  font-size: 40px;
  color: #FED766;
  margin-right: 2rem;
  font-family: Permanent Marker;
}
#header-navbar img{
  position:fixed;
  left: 100px;
  width: 90px;
  height: 90px;
  top: 0px;
}
/* END NAVBAR */

/* START WELCOME SECTION */
#welcome_section{
    height: 1000px;
  }
  #welcome_section h1{
    text-align: center; 
    font-size: 70px;
    margin-top: 25%;
    margin-top: 25%;
    color: #FED766;
    font-family: New Tegomin;
  }
/* END WELCOME SECTION *
  
/* START MY DESIGNS */
#gallery{
  width: 1500px;
  height: 2000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1A1818;
  border: 2px solid #FED766;
  border-radius: 2%;
}
#gallery div img{
  width: 450px;
  margin-left: 35px;
  margin-top: 25px;
  border: 1px solid #FED766;
  border-radius: 2%;
  float: left;
  display: block;
}
.zoom:hover {
  transform: scale(1.8); 
}
#gallery h3{
  margin-top: 1950px;
  text-align: center;
  color:#FED766;
  z-index: 8;
  font-family: Lobster;
}
/* END MY DESIGNS */
  
/* START FOOTER */
.footer-basic {
  padding:40px 0;
  background-color: #1A1818;
  color:#FED766;
  border-top: #FED766 solid;
  margin-top: 500px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-family: Permanent Marker;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #FED766;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#FED766;
  margin-bottom:0;
}
/* END FOOTER */

/* START MEDIA */
@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #gallery{
      width: 90%;
      height: 1000px;
      margin-right: auto;
      margin-left: auto;
      background-color: #1A1818;
      border: 2px solid #FED766;
      border-radius: 2%;
    }
    #gallery div img{
      display: block;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid #FED766;
      border-radius: 2%;
      float: left;
    }
    .zoom:hover {
      transform: scale(1.5); 
    }
    #gallery h3{
      margin-top: 950px;
      text-align: center;
      color:#FED766;
      z-index: 8;
    }
    .zoom:hover {
      transform: scale(1.2); 
    }
    .footer-basic .social > a {
      font-size:24px;
      width:60px;
      height:60px;
      line-height:60px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #FED766;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    .footer-basic .list-inline-item{
      font-size: 40px;
    }
    .footer-basic .copyright {
      margin-top:25px;
      text-align:center;
      font-size:13px;
      color:#FED766;
      margin-bottom:0;
    }
}
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #gallery{
      width: 90%;
      height: 1000px;
      margin-right: auto;
      margin-left: auto;
      background-color: #1A1818;
      border: 2px solid #FED766;
      border-radius: 2%;
    }
    #gallery div img{
      display: block;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid #FED766;
      border-radius: 2%;
      float: left;
    }
    .zoom:hover {
      transform: scale(1.5); 
    }
    #gallery h3{
      margin-top: 950px;
      text-align: center;
      color:#FED766;
      z-index: 8;
    }
    .zoom:hover {
      transform: scale(1.2); 
    }
    .footer-basic .social > a {
      font-size:24px;
      width:60px;
      height:60px;
      line-height:60px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #FED766;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    .footer-basic .list-inline-item{
      font-size: 40px;
    }
    .footer-basic .copyright {
      margin-top:25px;
      text-align:center;
      font-size:13px;
      color:#FED766;
      margin-bottom:0;
    }
}
